{% extends "layout.twig" %}

{% block content %}
  <div class="page-header">
    <h3>Transactions</h3>
  </div>
  <table class="table">
    <thead>
      <th>#</th>
      <th>Type</th>
      <th>Offer #</th>
      <th>Customer Editor ID</th>
      <th>URL OK</th>
      <th>State</th>
      <th>Success</th>
    </thead>
    {% for transaction in transactions %}
    <tr class="{% if transaction.type == 'init' %}success{% else %}warning{% endif %}">
      <td>{{transaction.id}}</td>
      <td>{{transaction.type}}</td>
      <td><a href="/admin/offers/{{transaction.offer_id}}/">{{transaction.offer_id}}</a></td>
      <td>{{transaction.customer_editor_id}}</td>
      <td>{{transaction.url_ok}}</td>
      <td>{{transaction.state}}</td>
      <td>{{transaction.success|var_export}}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
